footer {
  .copyright {
    @include basic;
    border-top-width: 1px !important;
    border-top-style: solid !important;
    display: flex;
    line-height: 3em;
    color: #BABABA;
    a {
      &:hover {
        color: $hover-color;
      }
    }
  }
}
