#index {
  li {
    list-style: none;
  }
  .posts-list {
    @include right-container;
    flex-basis: 75%;
    align-self: flex-start;
    section {
      padding: 20px 25px;
      background-color: white;
      border-bottom: 1px solid rgba(178,186,194,.15);
      a {
        color: #0366d6;
        &:hover {
          color: $hover-color;
        }
        h3 {
          margin: 0 0 5px;
          font-size: 20px;
          font-weight: 600;
          transition: $transition;
        }
      }
      .post-img {
        margin-bottom: 5px;
        transition: $transition;
        img {
          width: 100%;
          vertical-align: middle;
        }
      }
      .post-content {
        color: #a3a3a3;
        font-size: 14px;
        margin-bottom: 8px;
        * {
          margin: 0;
          padding: 0;
          text-align: justify;
        }
      }
      .post-meta {
        font-size: 12px;
        font-weight: 200;
        color: #6E7173;
        .seperator {
          padding: 0 2px;
        }
      }
    }
  }
  aside {
    position: sticky;
    top: 15px;
    flex-basis: 25%;
    > div {
      margin-left: 15px;
      box-sizing: border-box;
      margin-bottom: 15px;
      box-sizing: border-box;
      border-radius: 2px;
      h1 {
        font-size: 1.1em;
        margin: 0;
        height: 45px;
        line-height: 45px;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(178,186,194,.15);
        font-weight: normal;
      }
      > .content {
        color: #909090;
        padding: 20px;
        font-size: 1em;
        a {
          color: #909090;
          transition: $transition;
          &:hover {
            color: $hover-color;
          }
        }
      }
    }
    .avatar {
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        max-width: 200px;
        height: 185px;
        object-fit: cover;
        object-position: center center;
      }
    }
    .names-container {
      height: 86px;
      h1 {
        .name {
          display: block;
          font-size: 26px;
          font-weight: 600;
        }
      }
    }
    .description {
      .vcard-details {
        display: block;
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        color: #666;
        padding-left: 20px;
        .detail {
          font-size: 14px;
          padding-top: 4px;
          height: 21px;
          .octicon {
            float: left;
            width: 16px;
            margin-left: -24px;
            color: #6a737d;
            fill: currentColor;
            text-align: center
          }
        }
      }
      
    }
    .categories {
      .category-list {
        padding-left: 0;
        margin: 0;
      }
      .category-list-child {
        padding-left: 1.3em;
        li {
          list-style: disc;
        }
      }
    }
    .links {
      a {
        display: block;
      }
    }
  }
}

.paging {
  @include basic;
  padding-top: 1em;
  padding-bottom: 1em;
  .paging-container {
    display: flex;
    justify-content: center;
    background: transparent;
    width: 75%;
    &> div {
      display: inline-block;
      border-radius: 2px;
      font-size: 14px;
      transition: $transition;
      a {
        display: inline-block;
        padding: 5px 15px;
      }
      &:hover {
        border-color: #999;
      }
    }
    .page-prev {
      border: 1px solid #ddd;
    }
    .page-next {
      text-align: right;
      border: 1px solid #ddd;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  #index {
    width: 1000px;
  }
  .paging {
    width: 1000px;
  }
}

@media (max-width: $breakpoint-desktop) {
  .paging {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: $breakpoint-phone) {
  #index {
    flex-direction: column;
    .posts-list {
      order: 1;
      width: 100%;
    }
    aside {
      position: static;
      order: 0;
      > div {
        margin-left: 0;
      }
    }
  }
  .paging {
    .paging-container {
      width: 100%;
    }
  }
}
